/*Variáveis*/
:root 
{
  --primary-color: black;
  --secondary-color: white;
  --test-color: grey;
}

/*Formatação geral da página*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: Arial, sans-serif;
}


/*Barra de navegação*/
.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0 5%;
  transition: width 1s ease, height 1s ease, font-size 0.4s ease;

}

.navbar a{
  color: inherit;
  text-decoration: none;
}

/*Lista que usei pra criar os menus*/
.menus ul{
  font-weight: 500;
  display: flex;
}

.menus li{
  list-style: none;
  margin: 20px;
}

/*Estilização da área do jogo de destaque*/
.hero {
  background: linear-gradient(to right, var(--primary-color) 10%, transparent), url('https://image.api.playstation.com/vulcan/ap/rnd/202111/3013/bxSj4jO0KBqUgAbH3zuNjCje.jpg') center/cover;
  height: 60vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
}

/*Estilização dos textos da área do jogo de destaque*/
.hero-content h2 {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

/*Estilização do botão de compra da área do jogo de destaque*/
.btn-comprar {
  background-color: var(--accent-color);
  color: #fcfbfb;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 2px;
  transition: 0.3s;
}

/*Estilização de uma pseudo-classe aplicada no botão de compra da área de destaque*/
.btn-comprar:hover {
  background-color: rgb(152, 128, 24);
}

/*Formatação da tela de login*/
.login {
  background-color: var(--test-color);
  padding: 2rem;
  width: 32rem;
  height: 29rem;
  border-radius: 10px;
  margin: 1rem;
  z-index: 1;
}

.login form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 0 auto;
}

.login input{
  height: 2rem;
  border-radius: 10px;
}

.login button{
  height: 2rem;
  border-radius: 10px;
}


.main-content {
  position: relative;
  display: flex;
  min-height: calc(100vh - 100px);
  justify-content: center;
  overflow: hidden;
}

/*Blur da imagem de fundo da tela de login*/
.main-content::before{
  content: "";
  inset: 0;
  position: absolute;
  background-image: url("assets/bg-games.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2.5px);
  z-index: -2;
}

.main-content::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.40);
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .navbar {
    height: 70px;
    font-size: 15px;
  }
}
